<section>
  <div>
    <h1>Add a Job</h1>
  </div>
  <form class="add-job-form">
      <div class="input"> 
    <label for="title">Job Title </label>
    <input
      type="text"
      name="title"
      id="title"
      class="input-box"
      placeholder="ex. Frontend JavaScript developer, backend Phython developer"
      maxlength="100"
      value={{title}}
    />
    </div>
    <div class="input">
    <label for="skills">Skill's Needed</label>
    <input
      type="text"
      name="techNeeded"
      id="skills"
      class="input-box"
      placeholder="PHP, SQL, CSS, Java, etc"
      maxlength="50"
      value={{techNeeded}}
    />
    </div>
    <div class="input">
        <label for="pay">Pay</label>
        <input type="number" name="budget" id="budget" class="input-box" placeholder="500, 300, 250" value={{budget}}>
    </div>
    <div class="input">
        <label for="description">Job Description</label>
        <textarea name="description" id="description" class="input-box" placeholder="Type the details of your gig here" rows="15">{{description}}</textarea>
    </div>
    <div class="input">
        <label for="contact">Contact E-mail</label>
        <input type="email" name="contact-email" id="contactemail" class="input-box" placeholder="email@mail.com" value={{contact}}>
    </div>
    <button type="submit" id="add-job-btn">submit</button>
  </form>
  <script src="../public/javascript/add-job.js"></script>
</section>