<h3> All available Jobs</h3>
<ol class="post-list">
  {{#each posts}}
    <li>
      <article class="post">
        <div class="title">
          <div>{{title}}</div>
          <div>
            Created by:
            {{user.username}}
            on
            {{created_at}}
          </div>
          <div>
            Futher questions can be asked here
            <span> Email: {{user.email}} </span>
          </div>
          <div>
            {{title_body}}
          </div>
        </div>
        <div> Budget: ${{budget}} </div>
        <button href="{{post_url}}" target="_blank">Apply Now</button>
        <div>Technology Needed: {{techs}} </div>
        <a href="/post/{{id}}">{{comments.length}} review(s)</a>
      </article>
    </li>
  {{/each}}
</ol>