<div class="job-posts">
  <h3> All available Jobs</h3>
  <ol class="post-list">
    <li>
      <article class="post">
        <div class="title">
          <div>{{title}}</div>
          <div>
            Created by:
            {{user.username}}
            on
            {{created_at}}
          </div>
          <div>
            Futher questions can be asked here
            <span> bigbadumhe@gmail.com </span>
          </div>
          <div>
            {{title_body}}
          </div>
        </div>
        <div class="post"> Budget: ${{budget}}
          <button href="{{post_url}}" target="_blank">Apply Now</button>
        </div>
        <div>Technology Needed: wordpress, php, html, css </div>
        <a href="/post/{{id}}">{{comments.length}} review(s)</a>
      </article>
    </li>
  </ol>
</div>