<div class="single-post">
  <h3> Here are some Available jobs for {{post.user.username}} today </h3>
  <ol class="post-item">
    <li>
      <article class="single-post-item">

        <div class="title">
          <h2>{{post.title}}</h2>
        </div>

        <div>
          <h3>
            Created by:
            {{post.user.username}}
            on
            {{format_date post.created_at}}
          </h3>
          <p>
            {{post.title_body}}
          </p>
        </div>

        <div>
          <h4><strong>Budget: </strong>  ${{post.budget}} </h4>
          <button href="{{post.post_url}}" target="_blank">Apply Now</button>

          <h4><strong>Technology Needed:</strong> {{post.techs}} </h4>
          <h3>
            Futher questions can be asked here
            <span> Email: {{post.user.email}} </span>
          </h3>
          <a href="/post/{{id}}">{{post.comments.length}} {{format_plural "review" comments.length}}</a>
        </div>

        {{#if loggedIn}}
        <div>
          <form class="comment-form">
            <div>
              <textarea name="comment-body"></textarea>
            </div>

            <div>
              <button type="submit">add reviews</button>
            </div>
          </form>
        </div>
        {{/if}}

      {{> comments post.comments}}
      </article>
    </li>
  </ol>
</div>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}